body {
    background-color: #38AFE9;
}

h1 {
    color: #f7e557;
}

p {
    font-size: 20px;
    width: 70%;
    margin: auto;
}

li {
    display: inline;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .navbar-nav .lefty {
    margin-right: auto; /* Push this item to the far left */
  }
  
  .navbar-nav .righty {
    margin-left: auto; /* Push these items to the far right */
    color: white;
  }

  #nav-container {
    background-color: #0482bf;
    margin:0;
  }

#logo {
    font-size: 30px;
}

#app {
    width: 100%;
    height: 100%;
}

#langcard {
    width: 18rem; 
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.jumbotron {
    color: white;
    background-color: #38AFE9;
}

.list-group {
    background-color: white;
}

.list-group-item {
    color: gray;
}

.lesson {
    background-color: white;
    color: darkslategray;
    margin: 0 auto;
    text-align: center;
    margin: auto;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    padding: 2%;
}

.table {
    color: darkslategray;
    width: 70%;
    margin: auto;
}

.note-content {
    font-style: italic;
    opacity: 60%;
}

.hometitle {
    margin: auto;
    text-align: center;
    margin-top: 1%;
}

.rounded-lsn {
    border-radius: 5rem;
 }

.quote {
    font-style: italic;
}

.lp {
    text-align: left;
}

.homeblurb {
    width: 60%;
}