<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name='viewport' content="width=device-width, initial-scale=1" />
        <title>Lingogrind</title>
        {% load static %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
        />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"
        />
        <script>
            window.CSRF_TOKEN = "{{ csrf_token }}";
        </script>
        
    </head>
    <body>
        <div id="main">
            <div id="app"></div>
        </div>
        <script src="{% static "frontend/main.js" %}"></script>
    </body>
</html>